.cell {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: white;
    margin: 1px 1px 1px 1px;
    padding: 0px 0px 0px 0px;
    border: 1px solid black;
}
.board {
    
}

.line {
    display: blcok;
    height: 15px;
    margin-top: 1px;
} 